<%= render 'shared/header' %>

<div class="container">
  <div class="card mx-auto mt-5" style="max-width: 400px;">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title text-center">Editing specialization</h5>
    </div>
    <div class="card-body">
      <p class="text-success text-center"><%= notice %></p>

      <div>
      <%= render "form", specialization: @specialization %>
      </div>
      <div class="text-center">
      <%= link_to "Show this specialization", @specialization, class: 'btn btn-primary mb-2' %>
      <%= link_to "Back to specializations", specializations_path, class: 'btn btn-secondary ml-2 mb-2' %>
      </div>
    </div>
  </div>
</div>